## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/

## NuGet
*.nupkg
**/packages/*

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Rider
.idea/

## User-specific files
*.rsuser
*.cache
